*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header{
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  transition: 0.5s ease;
  margin-top: -20px;
}

header.scrolled{
  background: #fff; 
}

.logo {
  display: flex;
  align-items: center;
  margin-top: -10px;
}

.logo img {
  width: 100px; /* Adjust the width to your desired size */
    
}

/* header .brand{
  color: #D95F18;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
} */

header .navigation{
  position: flex;
  justify-content: flex-end;
  align-items: center;

}

header .navigation .navigation-items a{ 
  color: rgb(0, 0, 0);
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:hover{
  color: #f15b04;
}

header #home {
  color:#f15b04;
}

header .navigation .navigation-items a:hover::before{
width: 100%;
}

section{
  padding: 100px 200px;
}

.home{
  position: relative;
  width:100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgba(108, 146, 212, 0.3);
}
.home:before{
z-index: 777;
content: '';
position: absolute;
background: rgba(108, 146, 212, 0.3);
width: 100%;
height: 100%;
top: 0;
left: 0;
}
.home .content{
  z-index: 888;
  color: #fffcfc;
  width: 70%;
  margin-top: 50px;
  display: none;
}
.home .content.active{
  display:block;
}
.home .content h1{
  font-size: 4em;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
  color:rgb(8, 8, 8);
 
}

.home .content h1 span{
  font-size: 1.2em;
  font-weight: 700;
  color: #D95F18
  
}
.home .content p{
  margin-bottom: 65px;
  

}

.home .content a{
  background: #065e14;
  padding: 15px 35px;
  color: white;
  font-size: 1.1em;
  text-decoration: none;
  border-radius: 2px;
}
.home .content a:hover{
  background: #f15b04;
  padding: 15px 35px;
  color: white;
  font-size: 1.1em;
  text-decoration: none;
  border-radius: 2px;
}

.home .media-icons{
  z-index: 888;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
  transition:  0.5s ease;
}

.home .media-icons a{
color: #fff;
font-size: 1.6em;
transition: 0.3s ease;
}
.home .media-icons a:hover{
  color: #D95F18;
  font-size: 1.6em;
  transition: 0.3s ease;
  }

.home .media-icons a:not(:last-child){
  margin-bottom: 20px;
}

.home .media-icons a:hover{
  transform: scale(1.3);
}
.home video{
  z-index: 000;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-navigation{
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  justify-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
}
.slider-navigation .nav-btn{
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255,255,255,0.5);
  transition: 0.3s ease;
}
.slider-navigation .nav-btn.active{
  background: #f15b04;
}
.slider-navigation .nav-btn:not(:last-child){
  margin-right: 20px;
}
.slider-navigation .nav-btn:hover{
  transform: scale(1.2);
}
.video-slide{
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}
.video-slide.active{
  clip-path: circle(150.0% at 0 50%);
  transition:  2s ease;
  transition-property: clip-path;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 1040px) {
  header {
    padding: 12px 20px;
  }

  section {
    padding: 100px 20px;
  }

  .home .media-icons {
    right: 15px;
  }

  header .navigation {
    display: none;
  }

  header .navigation.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a {
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }

  header .navigation .navigation-items a:before {
    background: #222;
    height: 5px;
  }

  header .navigation.active .navigation-items {
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1, 1, 1, 0.2);
  }

  .menu-btn {
    background: url(icon.svg) no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;

  }

  .menu-btn.active {
    z-index: 999;
    background: url(close.png) no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }

  /* Dropdown styles for responsiveness */
  .dropdown-content {
    position: static;
    display: none;
    background-color: #f9f9f9;
    box-shadow: none;
    width: auto;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  .logo {
    flex: 1;
    justify-content: flex-start;
}
}





.section-p1{
    padding:20px 60px;
}
.section-m1{
      margin:40px 0;

}

button {
    background: #CC8C18;
    color: rgb(7, 7, 7);
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 30px;
  }
  
  button i {
    margin-left: 20px;
    font-size: 25px;
  }
  
  button span {
    margin-top: 5px;
  }
  button a{
    text-decoration: none;
  }
  .left, .right {
    width: 50%;
    
  }
  .room .content{
    flex-direction: column;
  }
  p {
    line-height: 30px;
    color: #a4a4a4;
    margin-bottom: 20px;
    font-size: 15px;
  }

.flex {
    display: flex;
    align-content: center;
    
  }
  
  .flex1 {
    display: flex;
    justify-content: space-between;
  }

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    padding:2.5rem 0;
}

.heading span{
   font-size: 2rem;
   background:rgba(255, 155, 0, .2);
   color:var(--orange);
   border-radius: .5rem;
   padding: .2rem 1rem;
}
.heading span.space{
    background:none;
}
.heading h5 {
    font-weight: 100;
    letter-spacing: 5px;
    color: #CC8C18;
    padding-top: 20px;
    font-size: 35px;
    font-family: sans-serif;
  }
  
  .heading h2 {
    color: #24416B;
    font-size: 35px;
    font-family: serif;
    font-weight: bold;
    margin: 10px 0 20px 0;
  }
  .heading h3 {
    color: #101111;
    font-size: 25px;
    font-family: serif;
    font-weight: bold;
    margin: 10px 0 20px 0;
  }
  
.flex {
    display: flex;
    align-content: center;
    
  }

  .left, .right {
    width: 50%;
}
  
.flex {
    display: flex;
    align-content: center;
    
  }
  
  .flex1 {
    display: flex;
    justify-content: space-between;
  }










.mtop {
    margin-top: 40px;
  }
  .offer img {
    width: 90%;
    height:90%;
  }
  .offer .right {
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 20px 3px rgb(0 0 0 / 5%);
    font-size: 15px;
  }

  .offer .content h4 {
    font-size: 20px;
    color: #627795;
    font-family: "Poppins", sans-serif; 
  }
  
  .offer .rate i {
    font-size: 13px;
    color: #CC8C18;
    margin: 10px 10px 20px 0;
  }
  
  .offer .content h5 {
    color: #627795;
    margin-bottom: 10px;
    font-size: 15px;
  }
  .offer .price{
    font-size: 20px;
  }
  
  .offer .boxs {
    transition: 1s;
  }

  
  .offer .boxs:hover {
    transform: translateY(-10px);
  }
.offer .flex1 button{
    background-color: #088178;
}


  
  button :hover{
   color: #fff;
   
  }
  
  button span {
    margin-top: 5px;
  }
  button a{
    text-decoration: none;
  }
  .left, .right {
    width: 50%;
    
  }
  .room .content{
    flex-direction: column;
  }
  p {
    line-height: 30px;
    color: #a4a4a4;
    margin-bottom: 20px;
    font-size: 15px;
  }
.btn{
  margin-left: 33%;
    display: inline-block;
    margin-top: 1rem;
    background: transparent;
    background: #d95a0fc7;
    padding: 15px;
    counter-reset: white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
}

.btn:hover{
    background: #CC8C18;
    color:white;
}







.container {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}


:root {
	--green-1: #26643b;
	--green-2: #a2de96;
	--lightGreen-1: #d6e5d8;
	--lightGreen-2: #f5fcf4;
	--black-1: #3b413a;
	--black-2: #3f3c3c;
	--black-3: #5b6359;
	--white-1: #e8e8e8;
}


body {
	background: var(--lightGreen-2);
}








.box-container {
  display: flex;
}

.packages .box-container{
  gap:1.5rem;
  width: 100%;
  margin-left: 10px;
  margin-bottom: 30px;
}

.packages .box-container .box{
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 26rem;
  border-radius: .4rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

.packages .box-container .box img{
  height:18rem;
  width: 100%;
  object-fit: cover;
  margin-bottom: 25px;
}

.packages .box-container .box .content{
  padding:1rem;
}

.packages .box-container .box .content h3{
  font-size:1.5rem;
  color: #333;

}

.packages .box-container .box .content h3 i{
  color: var(--orange);
}

.packages .box-container .box .content p{
  text-align: justify;
}

.packages .box-container .box .content pre {
  font-size:1 rem;
  color: #666;
  padding:1rem 0;
}
.packages .box-container .box .content li{
  font-size:15px;
  color: #666;
  padding:1rem 0;
}
.packages .box-container .box .content .stars i{
  font-size:1.7rem;
  color: var(--orange);
}
.packages .box-container .box .content span{
  color: red;
  font-size: larger;
}











.menu{
  width: 100%;

}

.menu h1{
  font-size: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  text-align: center;
}
.menu h1 span{
  color: #fac031;
  margin-left: 20px;
  font-family: mv boli;
}

.menu h1 span::after{
  content: '';
  width: 100%;
  height: 2px;
  background: #fac031;
  display: block;
  position: relative;
  bottom: 15px;
}

.menu .menu_box{
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  margin-left: 30px;
}

.menu .menu_box .menu_card{
  width: 310px;
  height: 480px;
  padding-top: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.menu .menu_box .menu_card .menu_image{
  width: 290px;
  height: 235px;
  margin: 0 auto;
  overflow: hidden;
}

.menu .menu_box .menu_card .menu_image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.3s;
}

.menu .menu_box .menu_card .menu_image:hover img{
  transform: scale(1.1);
}

.menu .menu_box .menu_card .small_card{
  width: 45px;
  height: 45px;
  float: right;
  position: relative;
  top: -240px;
  right: -8px;
  opacity: 0;
  border-radius: 7px;
  transition: 0.3s;
}

.menu .menu_box .menu_card:hover .small_card{
  position: relative;
  top: -240px;
  right: 20px;
  opacity: 1;
}

.menu .menu_box .menu_card .small_card i{
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 50px;
  color: #000;
  cursor: pointer;
  text-shadow: 0 0 6px #000;
  transition: 0.2s;
}

.menu .menu_box .menu_card .small_card i:hover{
  color: #fac031;
}

.menu .menu_box .menu_card .menu_info h2{
  width: 60%;
  text-align: center;
  margin: 10px auto 10px auto;
  font-size: 25px;
  color: #fac031;
}

.menu .menu_box .menu_card .menu_info p{
  text-align: center;
  margin-top: 8px;
  line-height: 21px;
}

.menu .menu_box .menu_card .menu_info h3{
  text-align: center;
  margin-top: 10px;
}

.menu .menu_box .menu_card .menu_info .menu_icon{
  color: #fac031;
  text-align: center;
  margin: 10px 0 10px 0;
}

.menu .menu_box .menu_card .menu_info .menu_btn{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  background: #000;
  padding: 8px 10px;
  margin: 0 80px;
  transition: 0.3s;
}










/* hero section styles */
#heros {
  margin-left: 80px;
  margin-top: -100px;
}
.hero__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column-reverse;
	gap: 5rem;
}
.hero__left__wrapper {
	max-width: 350px;
}
.hero__imgWrapper {
	max-width: 400px;
	width: 80%;
	margin: 0 auto;
}
.hero__heading {
	font-family: Poppins;
	font-weight: 600;
	line-height: 1.4em;
	text-align: center;
	font-size: 1.8rem;
	margin-bottom: 1.5rem;
	color: var(--black-1);
}
.hero__info {
	text-align: center;
	font-size: 1.4rem;
	margin-bottom: 1.5rem;
	color: var(--black-2);
}
.button__wrapper {
	text-align: center;
}

@media only screen and (min-width: 768px) {
	.hero__wrapper {
		flex-direction: row;
		gap: 0;
	}
	.hero__left {
		flex: 3;
	}
	.hero__right {
		flex: 4;
	}
	.hero__heading {
		font-size: 3.6rem;
		margin-bottom: 2rem;
		text-align: left;
	}

	.hero__info {
		margin-bottom: 2rem;
		text-align: left;
		font-size: 1.8rem;
	}

	.button__wrapper {
		text-align: left;
	}
	.hero__imgWrapper {
		max-width: none;
		width: 90%;
	}
}
@media only screen and (max-width: 900px) {
	.hero__left,
	.hero__right {
		flex: 1;
	}
}

.heros__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column-reverse;
	gap: 5rem;
}
.heros__left__wrapper {
	max-width: 350px;
}
.heros__imgWrapper {
	max-width: 400px;
	width: 80%;
	margin: 0 auto;
}
.heros__heading {
	font-family: Poppins;
	font-weight: 600;
	line-height: 1.4em;
	text-align: center;
	font-size: 1.8rem;
	margin-bottom: 1.5rem;
	color: var(--black-1);
}
.heros__info {
	text-align: center;
	font-size: 1.4rem;
	margin-bottom: 1.5rem;
	color: var(--black-2);
}
.button__wrapper {
	text-align: center;
}

@media only screen and (min-width: 768px) {
	.heros__wrapper {
		flex-direction: row;
		gap: 0;
	}
	.heros__left {
		flex: 3;
	}
	.heros__right {
		flex: 4;
	}
	.heros__heading {
		font-size: 3.6rem;
		margin-bottom: 2rem;
		text-align: left;
	}

	.heros__info {
		margin-bottom: 2rem;
		text-align: left;
		font-size: 1.8rem;
	}

	.button__wrapper {
		text-align: left;
	}
	.heros__imgWrapper {
		max-width: none;
		width: 90%;
	}
}
@media only screen and (max-width: 900px) {
	.heros__left,
	.heros__right {
		flex: 1;
	}
}



  