*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


/*nav bar*/

header{
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  transition: 0.5s ease;
  margin-top: -20px;
}
header.scrolled{
  background: #fff;
  
}


.logo {
  display: flex;
  align-items: center;
  margin-top: -10px;
}

.logo img {
  width: 100px; /* Adjust the width to your desired size */
    
}

/* header .brand{
  color: #D95F18;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
} */

header .navigation{
  position: flex;
  justify-content: flex-end;
  align-items: center;

}


header .navigation .navigation-items a{ 
  color: rgb(0, 0, 0);
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:hover{
  color: #f15b04;
}

header #home {
  color:#f15b04;
}

header #home {
  color:#f15b04;
}

header .navigation .navigation-items a:hover::before{
width: 100%;
}

section{
  padding: 100px 200px;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}







/*About Maayo*/
#about-top {
    margin-top: 10px;
    text-align: center;
}

#about-top img {
    width: 350px;
}

#about-top h5 {
    font-weight: 400;
    letter-spacing: 2px;
    padding-top: 20px;
    color: #5f5f5f;
    text-align: center;
}

#about-top h2 {
    font-size: 30px;
    font-weight: 100;
    margin: 20px 0 40px 0;
    color: #fff;
    text-align: center;
    padding: 10px;
    background-color: #C1B086;
}

#about-maayo {
    padding: 210px;
    display: flex;
    gap: 50px;
    margin-top: -180px;
}


#about-maayo .right {
    position: relative;
    padding: 20px;
}

#about-maayo .right p{
    text-align: justify;
    margin-bottom: 20px;
    line-height: 25px;
    color: #5f5f5f;
    margin: 0 0 20px 50px;
    text-align: justify;
} 

#about-maayo img {
    margin-left: -90px;
    width: 450px;
    height: 450px;
    position: relative;
}

.about-maayo .right a{
  background: #CC8C18;
  color: rgb(7, 7, 7);
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 30px;
  margin-left: 50px;
}

.btn1 {
  background: #C1B086;
  color: rgb(7, 7, 7);
  border-radius: 30px;
  margin-left: 50px;
  border-radius: 30px;
  margin-left: 50px;
  padding: 10px 20px;
  text-decoration: none;
  }

.btn1:hover {
  background: #CC8C18;
  color: white;
}
    
  .heading {
    position: relative;
  }










  input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}








  #categories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 150px;
    background-image: url('bg.gif');
    background-size: cover;
    border-radius: 30px;
}

#category {
  margin-top: -80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 270px;
}

#category li{
    list-style: none;
    padding: 10px;
    position: relative;
}

#category li a{
    padding: 10px;
    background-color: transparent;
    border: 1px solid black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
    transition: 0.2s ease;
}

#category li a:hover{
    box-shadow: 3px 3px 3px 3px rgba(27, 20, 25, 0.5);
}

#category li a:hover,
#category li a.active{
    color: purple;
}

















.image-gallery {
  margin-top: -130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
  
  .image-gallery img {
      width: 260px;
      height: 200px;
      object-fit: cover;
      margin: 10px;
      gap: 10px;
  }

  .image-gallery img:hover {
    transform: scale(1.05);
    transition: all .1s ease;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    border-radius: 8px;
    cursor: pointer;
  }










footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .log {
     margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .log img {
    width: 150px;
    height: 100px;
  }
  
  .location p,
  .contact p {
    margin: 5px 0;
  }
  
  p {
    font-size: 14px;
  }
  
  .footer-container p {
    text-align: center;
  }
  
  .copyright {
    font-size: 12px;
  }
  