

.packages .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    width: 100%;
  }
  
  .packages .box-container .box{
    flex: 1 1 26rem;
    border-radius: .4rem;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  }
  
  .packages .box-container .box img{
    height:27rem;
    width: 100%;
    object-fit: cover;
  }
  
  .packages .box-container .box .content{
    padding:1rem;
  }
  
  .packages .box-container .box .content h3{
    font-size:2rem;
    color: #333;
  }
  
  .packages .box-container .box .content h3 i{
    color: var(--orange);
  }
  
  .packages .box-container .box .content pre {
    font-size:1 rem;
    color: #666;
    padding:1rem 0;
  }
  .packages .box-container .box .content li{
    font-size:15px;
    color: #666;
    padding:1rem 0;
  }
  .packages .box-container .box .content .stars i{
    font-size:1.7rem;
    color: var(--orange);
  }
  .packages .box-container .box .content span{
    color: red;
    font-size: larger;
  }
  