.popup{
    width: 50%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%)scale(0);
    transition: 200ms ease-in-out;
    z-index: 999; 
    box-shadow: 2px 3px 7px rgba(0, 0, 0, .6);
}

.ruvelyn.active{  
    transform: translate(-50%, -50%)scale(1);
}
.jimwell.active{  
    transform: translate(-50%, -50%)scale(1);
}
.emmanuel.active{  
    transform: translate(-50%, -50%)scale(1);
}

.popup > button{
    color: #000;
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    outline: none;
    background: none;
}

.popup > button:hover{
    cursor: pointer;   
}

.popup > .coach-image{
    width: 30%;
    padding: 20px;
}

.popup > .coach-image > img{
    width: 100%;
    border-radius: 50%;
}

.popup >  .coach-description > h2, h4{
    text-align: center;
}

.popup >  .coach-description > p{
    font-size: 15px;
}

.popup > .coach-description > ul > li{
    margin-left: 10px;
}

.opacity{
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.opacity.active{
    pointer-events: all;
    opacity: 1;
}

