*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header{
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  transition: 0.5s ease;
  margin-top: -20px;
}

header.scrolled{
  background: #fff; 
}

.logo {
  display: flex;
  align-items: center;
  margin-top: -10px;
}

.logo img {
  width: 100px; /* Adjust the width to your desired size */
    
}

/* header .brand{
  color: #D95F18;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
} */

header .navigation{
  position: flex;
  justify-content: flex-end;
  align-items: center;

}

header .navigation .navigation-items a{ 
  color: rgb(0, 0, 0);
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:hover{
  color: #f15b04;
}

header #home {
  color:#f15b04;
}

header .navigation .navigation-items a:hover::before{
width: 100%;
}

section{
  padding: 100px 200px;
}

.home{
  position: relative;
  width:100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgba(108, 146, 212, 0.3);
}
.home:before{
z-index: 777;
content: '';
position: absolute;
background: rgba(108, 146, 212, 0.3);
width: 100%;
height: 100%;
top: 0;
left: 0;
}
.home .content{
  z-index: 888;
  color: #fffcfc;
  width: 70%;
  margin-top: 50px;
  display: none;
}
.home .content.active{
  display:block;
}
.home .content h1{
  font-size: 4em;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
  color:rgb(8, 8, 8);
 
}

.home .content h1 span{
  font-size: 1.2em;
  font-weight: 700;
  color: #D95F18
  
}
.home .content p{
  margin-bottom: 65px;
  

}

.home .content a{
  background: #065e14;
  padding: 15px 35px;
  color: white;
  font-size: 1.1em;
  text-decoration: none;
  border-radius: 2px;
}
.home .content a:hover{
  background: #f15b04;
  padding: 15px 35px;
  color: white;
  font-size: 1.1em;
  text-decoration: none;
  border-radius: 2px;
}

.home .media-icons{
  z-index: 888;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
  transition:  0.5s ease;
}

.home .media-icons a{
color: #fff;
font-size: 1.6em;
transition: 0.3s ease;
}
.home .media-icons a:hover{
  color: #D95F18;
  font-size: 1.6em;
  transition: 0.3s ease;
  }

.home .media-icons a:not(:last-child){
  margin-bottom: 20px;
}

.home .media-icons a:hover{
  transform: scale(1.3);
}
.home video{
  z-index: 000;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-navigation{
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  justify-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
}
.slider-navigation .nav-btn{
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255,255,255,0.5);
  transition: 0.3s ease;
}
.slider-navigation .nav-btn.active{
  background: #f15b04;
}
.slider-navigation .nav-btn:not(:last-child){
  margin-right: 20px;
}
.slider-navigation .nav-btn:hover{
  transform: scale(1.2);
}
.video-slide{
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}
.video-slide.active{
  clip-path: circle(150.0% at 0 50%);
  transition:  2s ease;
  transition-property: clip-path;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 1040px) {
  header {
    padding: 12px 20px;
  }

  section {
    padding: 100px 20px;
  }

  .home .media-icons {
    right: 15px;
  }

  header .navigation {
    display: none;
  }

  header .navigation.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a {
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }

  header .navigation .navigation-items a:before {
    background: #222;
    height: 5px;
  }

  header .navigation.active .navigation-items {
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1, 1, 1, 0.2);
  }

  .menu-btn {
    background: url(icon.svg) no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;

  }

  .menu-btn.active {
    z-index: 999;
    background: url(close.png) no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }

  /* Dropdown styles for responsiveness */
  .dropdown-content {
    position: static;
    display: none;
    background-color: #f9f9f9;
    box-shadow: none;
    width: auto;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  .logo {
    flex: 1;
    justify-content: flex-start;
}
}









#page{
  background-image: url(../images/churchnew.jpg);/*temporary ra ni gotta change sa Argao Public Market nga pic*/
  height: 20vh;
  background-size: cover;
}


















#argao-church {
  margin-top: 50%;
  height: 65vh;
  width: 100%;
  margin-left: -30px;
}


.left, 
  .right {
    width: 60%;
  
  }
  .room .content{
    flex-direction: column;
  }
  

.flex {
    display: flex;
    align-content: center;
  }
  
  .flex1 {
    display: flex;
    justify-content: space-between;
  }



.heading{
    text-align: center;
    margin-top: -70px;
    margin-left: 120px;
}

.heading span{
   font-size: 2rem;
   background:rgba(255, 155, 0, .2);
   color:var(--orange);
   border-radius: .5rem;
   padding: .2rem 1rem;
}

.heading span.space{
    background:none;
}

  .heading h2 {
    color: #24416B;
    font-size: 35px;
    font-family: serif;
    font-weight: bold;
    margin: 10px 0 20px 0;
  }
  
.flex {
    display: flex;
    align-content: center;
}

.left, .right {
    width: 50%;
}
  
.flex {
    display: flex;
    align-content: center;  
}
  
.flex1 {
    display: flex;
    justify-content: space-between;
}







.mtop {
    margin-top: 40px;
  }
  .offer img {
    width: 70%;
    height:90%;
  }

  .offer .right {
    padding-right: -50px;
    padding: 30px;
    margin: 20px;
    box-shadow: 0 0 20px 3px rgb(0 0 0 / 8%);
    font-size: 15px;
  }

  .offer .content h4 {
    font-size: 20px;
    color: #627795;
    font-family: "Poppins", sans-serif; 
  }
    
  .offer .boxs {
    transition: 1s;
  }
  
  .offer .boxs:hover {
    transform: translateY(-10px);
  }
.offer .flex1 button{
    background-color: #088178;
}

  .left, .right {
    width: 50%;
    
  }
  .room .content{
    flex-direction: column;
  }

  .h4 {
    margin-left: -150px;
    font-size: 40px;
    color: #627795;
    margin-top: -60px;
  }


  #churchhistory {
    margin-bottom: -70px;
    margin-top: -30px;
    background-image: url(../images/churchnew.jpg);
    background-size: cover;
    height: 90vh;
    margin-bottom: 30px;
    max-width: 100%;
    border-radius: 20px;
  }

  .church-history{
    margin-top: 10px;
    color: white;
    font-size: 15px;
    width: 200%;
    margin-left: -245px;
    background: rgba(1, 1, 1, 0.5);
    padding: 40px;
    border-radius: 20px;
    margin-bottom: 40px;
  }

  .church-history:hover{
    transform: translateY(-2%);
    transition: all .7s ease;
    color: black;
    background: rgba(252, 249, 249, 0.5);
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    border: 2px  solid black;
  }

  .left .naturepark img {
    width: 200px;
  }

  #right p{
    line-height: 30px;
    color: black;
    margin-bottom: 20px;
    font-size: 15px;
    text-align: justify;
  }
  p {
    line-height: 30px;
    color: black;
    margin-bottom: 20px;
    font-size: 15px;
    text-align: justify;
  }


#patron-saint {
  margin-left: -40px;
  padding: 50px;
  height: 80%;
  width: 10%;
}


#arch {
  margin-left: -40px;
  padding: 40px;
  height: 80%;
  width: 10%;
  border-radius: 20px;
}






